i# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# epics output
*O.linux-arm*
*O.Common*
db/
dbd/
bin/
lib/

#epics IOC autosave files
*.sav*
